.table {
    height: 250px;
    width: 50%;
    background-color: green;
    border-color: black;
    float:right;
}

.head {
    width: 100%;
    height: 250px;
    border: 1px solid black;
}

.image {
    height: 250px;
    width: 30%;
    float: left;
}

.inform {
    height: 100%;
    width: 65%;
    float: right;
}

.action {
    height: 50px;
}
.description {
    background-color: beige;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: justify;
    border-radius: 5px;
}

.middle {
    width: 100%;
}

.comments {
    width: 100%;
}

.comment {
    width: 100%;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    margin-top: 10px
}

.user_info {
    height: 25px;
}

.left {
    text-align: left;
    width: 30%;
    float: left;
    margin-left: 10px;
}

.right {
    text-align: right;
    width: 30%;
    float: right;
    margin-right: 10px;
}

.message {
    width: 100%;
    border: 1px solid gainsboro;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: beige;
}

.comment_form {
    height: 170px;
    margin-top: 20px;
}





