.login_form {
    height: 230px;
    width: 500px;
    margin-top: 15%;
    margin-bottom: 45%;
    margin-left: auto;
    margin-right: auto;
    background-color: #E6E6FA;
    text-align: center;
    border-radius: 5px;
}

.form_but {
    height: 50px;
    width: 150px;
    margin-left: -35px;
    margin-bottom: -20;
}

.h3_text {
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size:30px;
}

