.border{
    width:90%;
    margin: 0 auto;
    border: 1px #EEEEE0 solid;
    background-color: #FAF5F5;
    border-radius: 5px;
}
.text{
    margin: 5px;
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    text-align: justify;
}

.action_panel {
    margin-top: -20px;
}