.search {
    height: 50px;
    margin:0 auto;
    background-color: #E6E6FA;
    text-align: center;
    border-radius: 5px;
}
.letter {
    margin:0 auto;
    text-align: left;
    border-radius: 5px;
}

.textField {
    position: absolute;
    right: 100px;
    width: 60%;
    background-color: #b0e0e6;
}

.empty {
    height: 550px;
    margin:0 auto;
    text-align: center;
    border-radius: 5px;
}

.paging {
    height: 200px;
    margin:0 auto;
    text-align: center;
    border-radius: 5px;
}

.div0 {
    height: 100px;
    width: 900px;
    background-color: gray;
    margin: auto;
    border-radius: 5px;
}
.div1 {
    width: 60%;
    float:left;
    margin-top: 5px;
    text-align: center;
    border-radius: 5px;
}
.div2 {
    width: 30%;
    float:right;
    margin-top: 5px;
    border-radius: 5px;
}
