#container {
    height: 170px;
    width: 700px;
    margin-top: 200px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #E6E6FA;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0px;
}

#inside {
    text-align: left;
    background-color: #d3d3d3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}